.tags_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;

  > .tag {
    position: relative;
    width: 20vw;
    height: calc(20vw * 1.14);
    display: flex;
    flex-direction: column;
    align-items: center;

    > .sign {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12vw;
      height: 12vw;
      border: 1px solid var(--tag-bg);
      border-radius: 50%;
      background: var(--tag-bg);
    }

    > .name {
      font-size: 12px;
      margin-top: 4px;
      color: var(--text-color-black);
    }

    &.selected {
      .sign {
        border: 2px solid var(--tag-selected-border);
        background-color: var(--tag-selected-bg);
        transition: transform 0.2s cubic-bezier(0.68, 0.01, 0.62, 0.6);
      }

      .sign:active {
        transform: scale(0.95);
      }
    }
  }
}

@media (min-width: 500px) {
  .tags_wrapper {
    width: 390px;

    > .tag {
      width: calc(390px * 0.2);
      height: calc(390px * 0.228);

      > .sign {
        width: calc(390px * 0.12);
        height: calc(390px * 0.12);
      }
    }
  }
}

.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 12vw;
  border: 2px solid var(--tag-selected-border);
  border-radius: 50%;
  background: var(--theme-color-blue);
  transition: transform 0.2s cubic-bezier(0.68, 0.01, 0.62, 0.6),
    opacity 0.08s linear;

  > .createTag {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 500px) {
  .icon_wrapper {
    width: calc(390px * 0.12);
    height: calc(390px * 0.12);
  }
}

.icon_wrapper:active {
  transform: scale(0.95);
  opacity: 0.5;
}

.more {
  padding: 16px;
  text-align: center;
  font-weight: bold;

  > .loadMore {
    border: none;
    background: var(--bg-color-grey);
    color: var(--text-color-black);
  }

  > .noMore {
    color: var(--text-color-muted);
  }
}
