:root {
    --welcome-card-bg: white;
    --welcome-text:white;
    --welcome-bg-start:#021545;
    --welcome-bg-end:#2e4078;
    --welcome-nav-gap:8px;
    --welcome-nav-height:64px;
    --z-index-bottom-nav:10;
  }