:root {
    --welcome-card-bg: white;
    --welcome-text:white;
    --welcome-bg-start:#021545;
    --welcome-bg-end:#2e4078;
    --welcome-nav-gap:8px;
    --welcome-nav-height:64px;
    --z-index-bottom-nav:8;
    --z-index-overlay:16;
    --transition-duration:0.5s;
    --button-bg:#021545;
    --button-text:white;
    --button-font-size:18px;
    --button-radius:8px;
    --button-height:48px;//写死高度
    --float-button-text: white;
    --float-button-bg: var(--button-bg);
    --navbar-bg-start: var(--welcome-bg-start);
    --navbar-bg-end: var(--welcome-bg-end);
    --navbar-text: white;
    --overlay-mask-bg:rgba(0,0,0,0.5);
    --overlay-bg:white;
    --overlay-user-bg: #2e4078;
    --overlay-user-text: white;
    --top-safe-area-height:24px;
    --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
    --button-border-color:#ddd;
    --amount-text:#021545;
    --date-text:#999999;
  }