:root {
    --amount-text:#021545;
    --app-name-text: #021545;
    --bg: white;
    --button-bg-danger: #b70707;
    --button-bg:#021545;
    --button-border-color:#ddd;
    --button-font-size:18px;
    --button-height:48px;//写死高度
    --button-radius:8px;
    --button-text-important: white;
    --button-text:white;
    --date-text:#999999;
    --dialog-header-text: white;
    --emoji-nav-text-selected: #333;
    --emoji-nav-text: #999;
    --error-color:#b70707;
    --float-button-bg: var(--button-bg);
    --float-button-text: white;
    --input-border-color: #021545;
    --input-min-height: 48px;
    --input-radius: var(--button-radius);
    --input-shadow: rgba(0,0,0,0.25);
    --list-amount-text: var(--amount-text);
    --list-tag-text: #333;
    --list-time-text: var(--date-text);
    --main: #021545;
    --navbar-bg-end: var(--welcome-bg-end);
    --navbar-bg-start: var(--welcome-bg-start);
    --navbar-text: white;
    --number-button-bg-important:#021545;
    --number-button-bg:white;
    --number-button-text-important:white;
    --overlay-bg:white;
    --overlay-mask-bg:rgba(0,0,0,0.5);
    --overlay-user-bg: #2e4078;
    --overlay-user-text: white;
    --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
    --tag-bg: #EFEFEF;
    --text: #333;
    --text-muted: #666;
    --top-safe-area-height:24px;
    --total-bg: #252A43;
    --total-expenses: #53A867;
    --total-income: #FE7275;
    --total-text: white;
    --transition-duration:0.5s;
    --van-overlay-z-index:64;
    --welcome-bg-end:#2e4078;
    --welcome-bg-start:#021545;
    --welcome-card-bg: white;
    --welcome-nav-gap:8px;
    --welcome-nav-height:64px;
    --welcome-text:white;
    --z-index-bottom-nav:8;
    --z-index-navbar: 32;
    --z-index-overlay:16;
    --bar-bg: #CCCCCC;
  }
